Node-Red-Flow/flows.json
[{"id":"6ea12945.944238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"76fb28c2.a7a5a","type":"function","z":"6ea12945.944238","name":"","func":"const { exec } = require('child_process');\nexec('npm i jskit-learn', (err, stdout, stderr) => {\n  if (err) {\n    //some err occurred\n    console.error(err)\n  } else {\n   // the *entire* stdout and stderr (buffered)\n   console.log(`stdout: ${stdout}`);\n   console.log(`stderr: ${stderr}`);\n  }\n});\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":980,"wires":[["f08712ef.e1ba08"]]},{"id":"4dd9a404.62487c","type":"inject","z":"6ea12945.944238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":940,"wires":[["76fb28c2.a7a5a"]]},{"id":"f08712ef.e1ba08","type":"debug","z":"6ea12945.944238","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":940,"wires":[]},{"id":"c6ce8cbc.12c89","type":"function","z":"6ea12945.944238","name":"random","func":"var ws=Math.floor((Math.random()*5)+10)\nvar wd=Math.floor((Math.random()*100)+100)\nvar ao=Math.floor((Math.random()*1000)+2000)\nvar to=3000\nvar i=global.get('i')\nvar ar=global.get('wdata')\nmsg.payload={\n    'ws': ws,\n    'wd': wd,\n    'ao': ao,\n    'to': to\n}\nif(i<24){\n    ar[i]=msg.payload\n    i=i+1\n    global.set('i',i)\n    global.set('wdata',ar)\n}\nelse{\n    for(var k=0;k<23;k++){\n        ar[k]=ar[k+1]\n    }\n    ar[23]=msg.payload\n    global.set('wdata',ar)\n}\nmsg.payload={\n    'arr':ar,\n    'c':i\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["b2de0a72.265f48"]]},{"id":"b2de0a72.265f48","type":"debug","z":"6ea12945.944238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":140,"wires":[]},{"id":"86e7aa15.5ddbb8","type":"inject","z":"6ea12945.944238","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["c6ce8cbc.12c89"]]},{"id":"4219f57d.804ecc","type":"function","z":"6ea12945.944238","name":"initialization","func":"global.set('i',0)\nvar ar=[]\nglobal.set('wdata',ar)\nvar m=[0,0,0,0,0]\nglobal.set('max',m)\nvar out=[]\nglobal.set('output',out)\nglobal.set('j',0)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["c6ce8cbc.12c89"]]},{"id":"df02b087.9e80e","type":"function","z":"6ea12945.944238","name":"downscale","func":"var inp1=[]\nvar inp2=[]\nvar arr=global.get('wdata')\nvar max=[0,0,0,0,0]\nvar o=[]\nvar j=0\nfor(k=0;k<24;k++){\n    inp1[0]=arr[k].ao/5000\n    inp1[1]=arr[k].ws/30\n    inp1[2]=arr[k].wd/360\n    inp1[3]=arr[k].to/5000\n    inp2[k]=inp1\n}\nglobal.set('input',inp2)\nglobal.set('max',max)\nglobal.set('output',o)\nglobal.set('j',j)\nmsg.payload={\n    'values':inp2\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["6b15b572.50ceac"]]},{"id":"6b15b572.50ceac","type":"function","z":"6ea12945.944238","name":"cred","func":"var apikey=\"XEiEHriyqeG0KoafyIJABlaNcuYypEF8WFK54-qPSVTM\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey }\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["adb48d5e.dbed1"]]},{"id":"adb48d5e.dbed1","type":"http request","z":"6ea12945.944238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":420,"wires":[["6bfae249.dd75bc"]]},{"id":"6bfae249.dd75bc","type":"function","z":"6ea12945.944238","name":"Pre Prediction","func":"var ye = global.get('input')\nvar token=msg.payload.access_token\nvar instance_id=\"e09aa387-d889-40c9-bb62-1691da89477b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"LV ActivePower (kW)\",\"Wind Speed (m/s)\",\"Wind Direction (°)\",\"Theoretical_Power_Curve (KWh)\"], \"values\": [ye]}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":320,"wires":[["cce16a24.770768"]]},{"id":"cce16a24.770768","type":"http request","z":"6ea12945.944238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/e91c4cf8-0475-479f-88fa-91e4effba450/deployments/d91dc173-c1fb-4bdd-82f0-58734dbd56db/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":420,"wires":[["6fa0c1fa.bd6d4","c436bff1.8c9e2"]]},{"id":"6fa0c1fa.bd6d4","type":"debug","z":"6ea12945.944238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"e8188cb7.ae739","type":"function","z":"6ea12945.944238","name":"Max output","func":"var max=global.get('max');\nmsg.payload=Math.round(max[0]*500000)/100;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["60af0f9e.baeb9"]]},{"id":"447119d7.b22ca8","type":"function","z":"6ea12945.944238","name":"recur","func":"var arr=global.get('input')\nvar n=new Array(4)\nfor(var k=0;k<23;k++){\n    arr[k]=arr[k+1]\n}\nvar ch=msg.payload.values[0][0][0]*5000;\nif(ch<=3000 && ch>2000)\n{\nn[0]=msg.payload.values[0][0][0];\n}\nelse\n{\nn[0]=Math.floor((Math.random()*1000)+2000)/5000;\n}\nn[1]=Math.floor((Math.random()*5)+10)/30;\nn[2]=Math.floor((Math.random()*100)+100)/360;\nn[3]=3000/5000;\narr[23]=n;\nglobal.set('input',arr);\nvar j=global.get('j');\nvar o=global.get('output');\nvar max=global.get('max');\nif(n[0]>max[0]){\n    max[0]=n[0]\n    max[1]=n[1]\n    max[2]=n[2]\n    max[3]=n[3]\n    max[4]=j+1\n}\nglobal.set('max',max)\nj=j+1;\nglobal.set('j',j);\no[j]=n[0]*5000;\nglobal.set('output',o);\nmsg.payload={\n    'values':arr\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["6b15b572.50ceac","f0d902e8.12f"]]},{"id":"c436bff1.8c9e2","type":"counter-loop","z":"6ea12945.944238","name":"","counter":"ilc436bff18c9e2","counterType":"msg","reset":false,"resetValue":"value-null","initial":"1","initialType":"num","operator":"lte","termination":"72","terminationType":"num","increment":1,"incrementType":"num","x":200,"y":540,"wires":[["e8188cb7.ae739","a648ece3.10c72","b0a2765b.edaa58","176b8307.ab8bdd","cbb32362.234e48"],["447119d7.b22ca8"]]},{"id":"f0d902e8.12f","type":"debug","z":"6ea12945.944238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":540,"wires":[]},{"id":"a648ece3.10c72","type":"function","z":"6ea12945.944238","name":"Max wind speed","func":"var max=global.get('max')\nmsg.payload=Math.round(max[1]*3000)/100\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["9249fc7a.9ac51"]]},{"id":"b0a2765b.edaa58","type":"function","z":"6ea12945.944238","name":"Max wind dir","func":"var max=global.get('max');\nmsg.payload=Math.round(max[2]*36000)/100;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":740,"wires":[["7e5d5319.f955fc"]]},{"id":"176b8307.ab8bdd","type":"function","z":"6ea12945.944238","name":"Graph","func":"var a=[]\nvar b=[]\nvar o=global.get('output')\nvar c=[]\nvar m={}\nfor (var i=1;i<=72;i++){\n    b[i-1]=o[i]\n    c[i-1]=i\n}\nm.labels=c\nm.series=['output']\na[0]=b\nm.data=a\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":530,"y":860,"wires":[["9abd928d.daa44","89eee4b9.133dd"]]},{"id":"9abd928d.daa44","type":"ui_chart","z":"6ea12945.944238","name":"","group":"51883014.e71b5","order":2,"width":"6","height":"9","label":"","chartType":"bar","legend":"false","xformat":"Hours Ahead","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5000","removeOlder":"72","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":860,"wires":[[]]},{"id":"60af0f9e.baeb9","type":"ui_gauge","z":"6ea12945.944238","name":"","group":"c9c8126a.05bdf","order":1,"width":6,"height":3,"gtype":"wave","title":"Energy","label":"kWh","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1500","seg2":"3500","x":1000,"y":620,"wires":[]},{"id":"9249fc7a.9ac51","type":"ui_gauge","z":"6ea12945.944238","name":"","group":"c9c8126a.05bdf","order":2,"width":6,"height":3,"gtype":"gage","title":"Wind Speed","label":"km/hr","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":990,"y":680,"wires":[]},{"id":"7e5d5319.f955fc","type":"ui_gauge","z":"6ea12945.944238","name":"","group":"c9c8126a.05bdf","order":3,"width":6,"height":3,"gtype":"compass","title":"Wind Direction","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"240","x":980,"y":740,"wires":[]},{"id":"a80f78c0.ce1878","type":"ui_text","z":"6ea12945.944238","group":"c9c8126a.05bdf","order":4,"width":6,"height":2,"name":"","label":"Best Time","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":820,"wires":[]},{"id":"2cee683a.92ec18","type":"ui_button","z":"6ea12945.944238","name":"","group":"c9c8126a.05bdf","order":5,"width":0,"height":0,"passthru":false,"label":"Predict","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":200,"wires":[["df02b087.9e80e"]]},{"id":"cbb32362.234e48","type":"function","z":"6ea12945.944238","name":"Fav Time","func":"var max=global.get('max');\nmsg.payload=max[4].toString()+\" hours ahead\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":800,"wires":[["a80f78c0.ce1878","636dc7f4.8fab6"]]},{"id":"89eee4b9.133dd","type":"debug","z":"6ea12945.944238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":960,"wires":[]},{"id":"3e974c92.296bfc","type":"inject","z":"6ea12945.944238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":620,"wires":[["e8188cb7.ae739","a648ece3.10c72","b0a2765b.edaa58","cbb32362.234e48","176b8307.ab8bdd"]]},{"id":"cd1aacce.f88b08","type":"ui_button","z":"6ea12945.944238","name":"","group":"51883014.e71b5","order":11,"width":"0","height":"0","passthru":false,"label":"Predict","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":240,"wires":[["df02b087.9e80e"]]},{"id":"636dc7f4.8fab6","type":"ui_text","z":"6ea12945.944238","group":"51883014.e71b5","order":9,"width":"6","height":"2","name":"","label":"Best Time","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":760,"wires":[]},{"id":"51883014.e71b5","type":"ui_group","z":"","name":"Prediction Graph","tab":"41b02ba4.fd96bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9c8126a.05bdf","type":"ui_group","z":"","name":"Predictions","tab":"eba7c1b7.0b3e7","order":1,"disp":true,"width":6,"collapse":false},{"id":"41b02ba4.fd96bc","type":"ui_tab","z":"","name":"DataTrends","icon":"dashboard","disabled":false,"hidden":false},{"id":"eba7c1b7.0b3e7","type":"ui_tab","z":"","name":"Favourable Time","icon":"dashboard","disabled":false,"hidden":false}]